body {
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  color: white;
  font-weight: 600;
  font-size: 28px;
  opacity: 0.5;
  margin-bottom: 0;
}

ul {
  color: white;
  list-style: none;
  padding: 0;
  text-transform: capitalize;
}

small {
  color: black;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border-radius: 20px;
  border-color: none;
  background-image: linear-gradient(to top, #48c6ef 0%, #4c70f2 100%);
}

.bottom-app {
  margin: 0px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.fas {
  color: white;
  font-size: 72px;
}

.temperature {
  color: white;
  opacity: 0.5;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 80px;
  margin-left: 10px;
  line-height: 1;
}

.degree {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  opacity: 0.5;
}

.link-git {
  color: #4c70f2;
}
